#streamlit==1.32.2
#pandas==2.0.3
#numpy==1.24.3
#pyyaml==6.0.1
#streamlit-authenticator==0.3.1
#psycopg2-binary==2.9.9
#sqlalchemy==2.0.23
#python-dotenv==1.0.0  # Nuevo - para manejar variables de entorno

streamlit
pandas
numpy
pyyaml
#streamlit-authenticator
streamlit-authenticator==0.3.2

psycopg2-binary
sqlalchemy
st-supabase-connection
supabase==1.0.3
xlsxwriter
pytz
pdfkit
python-docx
streamlit-option-menu
plotly

